<!DOCTYPE html5>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Skar.IM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/chat.css"/>
    <link rel="stylesheet" type="text/css" href="/css/animate.css"/>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
</head>
<body style="padding-left: 0px; padding-right: 0px;">
    <!--Навигация-->
    <nav>
        <div id="minprofile" class="waves-effect"></div>
        <div class="row m0">
            <div class="input-filed col s12">
                <input id="search_action" type="text" placeholder="Начать чат" class="validate">
            </div>
        </div>

        <div id="contacts" class="collection">
            <!--<div id="skaro::skaro.im/%atom-m-cms" data-newmsg="3" class="conference"><img src="{{ static_url('img/noavatar.png') }}"/> <span>@Atom-M conference<span></div>-->
        </div>
    </nav>
    <!--Информационное крыло-->
    <aside style="z-index: -1;"></aside>
    <!--Основные окна мессенджера-->
    <section id="loginpage">
        <footer class="nonbg center"><h3 class="light">Мультипротокольный мессенджер SkarIM.</h3></footer>
        <div class="abs_center mainloader">
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div>
                            <div></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section id="registerpage">
    </section>

    <script type="text/javascript" src="/js/jquery-1.8.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    
    <script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="/js/jquery-visibility.min.js"></script>
    
    <script type="text/javascript" src="/js/noty/jquery.noty.js"></script>
    <script type="text/javascript" src="/js/noty/layouts/topRight.js"></script>
    <script type="text/javascript" src="/js/noty/themes/skaro.js"></script>
    
    <script type="text/javascript" src="/js/skar/cbor.js"></script>
    <script type="text/javascript" src="/js/skar/hmac-sha512.js"></script>
    <script type="text/javascript" src="/js/skar/helpers.js"></script>
    <script type="text/javascript" src="/js/skar/template.js"></script>
    <script type="text/javascript" src="/js/skar/skar.js"></script>
    <script type="text/javascript" src="/js/skar/initdom.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /**
            INIT SKAR
            */
            Skar.start();
        });
    </script>
</body>
</html>
